
/*БЛОК PRICING PLAN*/
.wrap {
	max-width: 1135px;
	margin: 0 auto;
	height: 100%;
	min-height: inherit;
	overflow: hidden;
}

/*.left-sidebar {
	background: #f3f3f3;
	flex: 1 1 215px;
}
.left-sidebar {
	border-right: 1px solid #a7a7a7;
}*/

header {
	max-width: 1135px;
	margin: 0 auto;
	background-color: #f3f3f3;
}

header .wrap {
	display: flex;
}

.headers h3 {
	font-size: 2.143em;
	color:#333333;
	font-weight: bold;
	margin: 100px 0 25px 60px;
}
.headers img {
	max-width: 100%;
	margin-left: 60px;
}
.menu {
	max-width: 1135px;
	margin: 0 auto;
	background-color: #f3f3f3;
	padding: 80px 0 100px 0;
}
.menu .wrap, .inline, .inline1, .inline2, .bottom {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.left, .right {
	background: #fff;
	flex-basis: 445px;
	z-index: 2;
	padding-bottom: 95px;
}
.left h4, .right h4 {
	font-size: 1.714em;
	color: #4c4c4c;
	margin: 50px 0 50px 30px;
}
.left h4 span, .right h4 span {
	color: #3971ff;
	font-weight: bold;
}
.left p, .right p {
	font-size: 1.000em;
	line-height: 1.5;
	margin-left: 30px;
}
.parag {
	color: #5d5d5d;
}
.h5left, .h5right {
	font-size: 1.000em;
	color: #4c4c4c;
	margin-left: 30px;
} 
.h5right {
	margin-right: 30px;
}
.inline {
	border-bottom: 1px solid #a7a7a7;
	justify-content: space-between;
	margin-top: 50px;
	padding-bottom: 25px;
}
.inline1 {
	border-bottom: 1px solid #a7a7a7;
	justify-content: space-between;
	margin-top: 25px;
	padding-bottom: 25px;
}
.inline2 {
	justify-content: space-between;
	margin: 25px 0 45px 0;
}
.bottom {
	justify-content: center;
}
.RegisterNow {
	font-weight: bold;
	color: #3971ff;
	font-size: 1.000em;
	text-align: center;
}
.blue-short {
	width: 11.2%;
	border-bottom: 2px solid #3971ff;
}



/*БЛОК CliENT FEEDBACK*/

.logo1 {
	max-width: 1135px;
	margin: 0 auto;
	background-image: url(../images/backgroundIMG.gif);
	padding-bottom: 90px;
}

.logo1 .wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.headerBlock {
	flex: 2 2 1135px;
}
.headerBlock h3 {
	font-size: 2.143em;
	color:#333333;
	font-weight: bold;
	margin: 100px 0 28px 0;
}
.headerBlock .linea_kruchog {
	margin-bottom: 75px;
}
.fotos3 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
.fotos3 img {
	max-width: 100%;
}
.img2 { 
	margin: 0 30px;	
}
.img1, .img3 {
	width: 80px;
	height: 80px;
}
.hunaed {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
.hunaed h4 {
	font-size: 1.500em;
	color: #5c5c5c;
	margin-bottom: 30px;
}
.span0 {
	font-size: 1.000em;
	color: #6d6d6d;
	margin-bottom: 55px;
}
.span0 span {
	color: #3971ff;
}
.paragLast {
	line-height: 1.5;
	color: #6d6d6d;
}



/*Footer block*/

footer {
	max-width: 1135px;
	margin: 0 auto;
	background: #f3f3f3;
}
footer .wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 100px;
}
.say_hello {
	flex: 2 2 1135px;
}
.say_hello h3 {
	font-size: 2.143em;
	color:#333333;
	font-weight: bold;
	margin: 100px 0 25px 85px;
}
.say_hello .linea_kruchog {
	margin: 0 0 85px 85px;
}
.contact_left {
	margin-bottom: 98px;
}
.contact_left {
	width: 260px; 
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}
.contact_left img {
	margin-right: 35px;
}
.contact_left h4 {
	font-size: 1.500em;
}
.contact_left p {
	line-height: 1.5;
	margin-top: 28px;
}
.footer_nav {
	width: 270px;
}
.footer_nav img {
	margin-right: 40px;
}
.footer_nav .linkedin {
	margin-right: 0;
}
.form-style {
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="password"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    font: 1em Arial, Helvetica, sans-serif;
}
.form-style input[name="field1"] {
	border-bottom: 1px solid #3971ff;
}
.form-style input[name="field2"] {
	margin: 40px 0 45px 0;
}
.fildImg {
	border-bottom: 1px solid #000;
	display: flex;
	align-items: center;
}
.fildImg input[name="field3"] {
	width: 94%;
	border-bottom: none;
}
.form-style input[type="button"], 
.form-style input[type="submit"]{
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.8em;
    text-decoration: none;
    text-transform: uppercase;
}
.Type_Message {
	border-bottom: 1px solid #000;
	margin: 75px 0 28px 0;
	padding-bottom: 103px;
}
.Lets_Talk {
	color: #3971ff;
	font-weight: bold;
}
.Lets_Talk p {
	margin-bottom: 13px;
}
#blueLine {
	border-bottom: 3px solid #3971ff;
	width: 50px;
}

@media (max-width: 480px) {
	.contact {
		order: 2;
	}
	.forms-style {
		order: 1;
	}
}